@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-dark: hsl(0, 0%, 0%);
  --color-normal: hsl(0, 0%, 5%);
  --color-light: hsl(0, 0%, 10%);
  --color-border: hsl(0,0%,30%);
  --color-text: hsl(0,0%,90%);
  --icon-stroke: 1;

}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.canvas-container {

}
