@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";


html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.canvas-container {

}
